@import "../vendor/bootstrap/less/bootstrap.less";

@font-family-base: 'Lato', @font-family-serif;
@font-size-base: 14px;
@font-size-large: round(@font-size-base * 1.15); // ~16px
@gray-lighter: lighten(@gray-base, 65%); // #eee

@headings-font-weight: 700;

.container-fluid {
    max-width: @container-md;
}

.siteHeader {
    margin-bottom: 2em;
}

.siteDescription {
    margin-bottom: 3em;
}

.pageHeading {
    margin-top: 0;
    font-size: @font-size-h4;
}

.link--secondary {
    color: @gray-dark;
    &:hover {
        color: @gray-dark;
    }
}

.episode {
    margin-bottom: 5em;
    &-header {
        &-title {
            margin-top: 0;
            margin-bottom: (@line-height-computed / 4);
            font-size: @font-size-h4;
        }
        &-meta {
            margin-top: 0;
            font-size: @font-size-base;
            font-weight: 500;
            color: @gray-lighter;
        }
    }
    &-audio {
        &-player {
            width: 100%;
        }
    }
    &-links {
        &-heading {
            font-size: @font-size-large;
            margin-top: 0;
        }
    }
}
